/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    --c-brand: #C9C9C0;
    /* --c-brand-rgb: 248, 54, 145; */
    /* --c-dark: #303050; */
    --c-body: #C9C9C0;
    --f-main: "Bai Jamjuree", san-serif;
    --transition: all .6s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0, 0, 0.1);
}

/* Reset and helpers */
body {
    font-family: var(--f-main);
    color: var(--c-body);
    line-height: 1.7;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 700;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand);
}

img {
    width: 100%;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.text-brand {
    color: var(--c-brand);

}
.sectioin-title{
    max-width: 560px;
    margin: 0 auto 90px auto;
}
.sectioin-title .line{
    width: 60px;
    height: 2px;
    background-color: var(--c-brand);
    display: inline-block;
}
.section-connector{
    position: relative;
}
.section-connector::after{
    content: '';
    width: 2px;
    height: 100px;
    background-color: var(--c-brand);
    position: absolute;
    top: -50px;
    left: 50%;
}

/* Nav bar */
.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: var(--transition);
}

.navbar.scrolled{
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #3E3C38;
}
.navbar-toggler{
    border-radius: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;

    }

}

.navbar .navbar-nav .nav-link {
    font-weight: 700;
    color: white;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: white;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: var(--c-dark);
}

.social-icons {
    width: 36px;
    height: 36px;
    background-color: var(--c-brand);
    color: black;
    border: 2px solid var(--c-brand);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.social-icons:hover {
    background-color: transparent;
}

/* button */

.btn {
    padding: 10px 24px;
    border-radius: 0;
    border-width: 2px;
    font-weight: 500;
}

.btn-brand,
btn-brand:focus {
    background-color: var(--c-brand);
    color: black;
    border-color: var(--c-brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--c-brand);
    border-color: var(--c-brand);
}

/* Hero sec */
#home {
    /* background-image: url(../images/final\ back.png); u have to make one background image */ 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #090908;
}

/* services */
#services {
    /* background-color: #C9C9C0; */
    background-color: black;
}
.service-icon{
    width: 60px;
    height: 60px;
    background-color: var(--c-brand);
    color: black;
    font-size: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.custom-link{
    display: inline-flex;
    align-items: center;
}
.custom-link span{
    font-weight: 700;
}
.custom-link i{
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand);
    border-radius: 100px;
    color: black;
    margin-left: 6px;
    transition: var(--transition);
}

.custom-link:hover i{
    transform: translate(6px);
}

/* Project */
#work{
    background-color: #090908;
}
#work p {
    font-size: 22px;
}
.project{
    overflow: hidden;
    position: relative;
}
.project .content{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3E3C38;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project img,
.project .content{
    transition: var(--transition);
}
.project:hover .content{
    top: 0;
}
.project:hover img{
    transform: translateY(-100%);
}

/* contact */
#contact{
    background-color: #090908;
}
#contact h2{
    padding-bottom: 26px;
}
#contact .form-control{
    border-radius: 0;
}

#contact .form-control:focus{
    box-shadow: none;
    border-color: var(--c-brand);
}

#contact input.form-control{
    height: 44px;
}

/* Footer */
footer{
    background-color: var(--c-dark);
    padding-top: 60px;
}
footer h4{
    color: white;
}

footer p,
footer li,
footer li a{
    color: rgba(255,255,255,0.7);
}
footer ul{
    list-style: none;
    padding: 0;
}
.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}
.hero-image {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
.small-image {
    max-width: 80%;
    height: auto;

}